---
http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?key=<API_KEY>&q=-22.6792,14.5272
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '40069'
      X-Ratelimit-Reset:
      - '1759449600'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":50000,"remaining":40069,"reset":1759449600},"results":[{"annotations":{"DMS":{"lat":"22\u00b0
        40'' 45.26256'''' S","lng":"14\u00b0 31'' 37.93728'''' E"},"MGRS":"33KVQ5143391910","Maidenhead":"JG77gh36gx","Mercator":{"x":1617161.042,"y":-2576805.433},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?way=184393212#map=17/-22.67924/14.52720","note_url":"https://www.openstreetmap.org/note/new#map=17/-22.67924/14.52720&layers=N","url":"https://www.openstreetmap.org/?mlat=-22.67924&mlon=14.52720#map=17/-22.67924/14.52720"},"UN_M49":{"regions":{"AFRICA":"002","NA":"516","SOUTHERN_AFRICA":"018","SUB-SAHARAN_AFRICA":"202","WORLD":"001"},"statistical_groupings":["LEDC"]},"callingcode":264,"currency":{"alternate_symbols":["N$"],"decimal_mark":".","disambiguate_symbol":"N$","format":"%n
        %u","html_entity":"$","iso_code":"NAD","iso_numeric":"516","name":"Namibian
        Dollar","smallest_denomination":5,"subunit":"Cent","subunit_to_unit":100,"symbol":"$","symbol_first":0,"thousands_separator":","},"flag":"\ud83c\uddf3\ud83c\udde6","geohash":"k7fqfx67u7m1bew3kzh3","qibla":31.02,"roadinfo":{"drive_on":"left","road":"Woermann
        Street","road_type":"residential","speed_in":"km/h"},"sun":{"rise":{"apparent":1759380180,"astronomical":1759375680,"civil":1759378800,"nautical":1759377240},"set":{"apparent":1759424400,"astronomical":1759428900,"civil":1759425780,"nautical":1759427340}},"timezone":{"name":"Africa/Windhoek","now_in_dst":0,"offset_sec":7200,"offset_string":"+0200","short_name":"CAT"},"what3words":{"words":"outsmarted.cheering.chemical"}},"bounds":{"northeast":{"lat":-22.6791681,"lng":14.5277944},"southwest":{"lat":-22.6793015,"lng":14.5266951}},"components":{"ISO_3166-1_alpha-2":"NA","ISO_3166-1_alpha-3":"NAM","ISO_3166-2":["NA-ER"],"_category":"road","_normalized_city":"Swakopmund","_type":"road","city":"Swakopmund","continent":"Africa","country":"Namibia","country_code":"na","postcode":"13001","road":"Woermann
        Street","road_type":"residential","state":"Erongo Region","suburb":"Central"},"confidence":9,"distance_from_q":{"meters":4},"formatted":"Woermann
        Street, Swakopmund 13001, Namibia","geometry":{"lat":-22.6792396,"lng":14.5272048}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","mastodon":"https://en.osm.town/@opencage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Thu, 02 Oct 2025 22:30:26
        GMT","created_unix":1759444226},"total_results":1}'
  recorded_at: Thu, 02 Oct 2025 22:30:26 GMT
recorded_with: VCR 6.3.1
