---
http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?key=<API_KEY>&q=-22.6792,14.5272
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2478'
      X-Ratelimit-Reset:
      - '1613433600'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2478,"reset":1613433600},"results":[{"annotations":{"DMS":{"lat":"22\u00b0
        40'' 45.05736'''' S","lng":"14\u00b0 31'' 36.48576'''' E"},"MGRS":"33KVQ5139191916","Maidenhead":"JG77gh36fx","Mercator":{"x":1617116.157,"y":-2576798.589},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?node=4488973891#map=16/-22.67918/14.52680","note_url":"https://www.openstreetmap.org/note/new#map=16/-22.67918/14.52680&layers=N","url":"https://www.openstreetmap.org/?mlat=-22.67918&mlon=14.52680#map=16/-22.67918/14.52680"},"UN_M49":{"regions":{"AFRICA":"002","NA":"516","SOUTHERN_AFRICA":"018","SUB-SAHARAN_AFRICA":"202","WORLD":"001"},"statistical_groupings":["LEDC"]},"callingcode":264,"currency":{"alternate_symbols":["N$"],"decimal_mark":".","disambiguate_symbol":"N$","format":"%n
        %u","html_entity":"$","iso_code":"NAD","iso_numeric":"516","name":"Namibian
        Dollar","smallest_denomination":5,"subunit":"Cent","subunit_to_unit":100,"symbol":"$","symbol_first":0,"thousands_separator":","},"flag":"\ud83c\uddf3\ud83c\udde6","geohash":"k7fqfx6h5jbq5tn8tnpn","qibla":31.02,"roadinfo":{"drive_on":"left","road":"Woermann
        St","speed_in":"km/h"},"sun":{"rise":{"apparent":1613364720,"astronomical":1613360040,"civil":1613363340,"nautical":1613361660},"set":{"apparent":1613410800,"astronomical":1613415480,"civil":1613412180,"nautical":1613413800}},"timezone":{"name":"Africa/Windhoek","now_in_dst":0,"offset_sec":7200,"offset_string":"+0200","short_name":"CAT"},"what3words":{"words":"integrate.laughter.teller"}},"bounds":{"northeast":{"lat":-22.6791326,"lng":14.5268516},"southwest":{"lat":-22.6792326,"lng":14.5267516}},"components":{"ISO_3166-1_alpha-2":"NA","ISO_3166-1_alpha-3":"NAM","_category":"commerce","_type":"restaurant","city":"Swakopmund","continent":"Africa","country":"Namibia","country_code":"na","postcode":"13001","restaurant":"Beryl''s
        Restaurant","road":"Woermann St","state":"Erongo Region","suburb":"Central"},"confidence":9,"formatted":"Beryl''s
        Restaurant, Woermann St, Swakopmund 13001, Namibia","geometry":{"lat":-22.6791826,"lng":14.5268016}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 14:59:34
        GMT","created_unix":1613401174},"total_results":1}'
  recorded_at: Mon, 15 Feb 2021 14:59:34 GMT
recorded_with: VCR 6.0.0
