---
http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?key=<API_KEY>&q=51.501978,-0.069996
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '40065'
      X-Ratelimit-Reset:
      - '1759449600'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":50000,"remaining":40065,"reset":1759449600},"results":[{"annotations":{"DMS":{"lat":"51\u00b0
        30'' 7.17228'''' N","lng":"0\u00b0 4'' 12.41976'''' E"},"MGRS":"30UYC0334209721","Maidenhead":"IO91xm10ol","Mercator":{"x":-7805.344,"y":6677113.101},"NUTS":{"NUTS0":{"code":"UK"},"NUTS1":{"code":"UKI"},"NUTS2":{"code":"UKI4"}},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?way=388422088#map=17/51.50199/-0.07012","note_url":"https://www.openstreetmap.org/note/new#map=17/51.50199/-0.07012&layers=N","url":"https://www.openstreetmap.org/?mlat=51.50199&mlon=-0.07012#map=17/51.50199/-0.07012"},"UN_M49":{"regions":{"EUROPE":"150","GB":"826","NORTHERN_EUROPE":"154","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":44,"currency":{"alternate_symbols":[],"decimal_mark":".","html_entity":"&#x00A3;","iso_code":"GBP","iso_numeric":"826","name":"British
        Pound","smallest_denomination":1,"subunit":"Penny","subunit_to_unit":100,"symbol":"\u00a3","symbol_first":1,"thousands_separator":","},"flag":"\ud83c\uddec\ud83c\udde7","geohash":"gcpuyrsuy5jqbffpvbyh","qibla":119.05,"roadinfo":{"drive_on":"left","road":"Mill
        Street","speed_in":"mph"},"sun":{"rise":{"apparent":1759385040,"astronomical":1759378320,"civil":1759383060,"nautical":1759380720},"set":{"apparent":1759426440,"astronomical":1759433100,"civil":1759428420,"nautical":1759430760}},"timezone":{"name":"Europe/London","now_in_dst":1,"offset_sec":3600,"offset_string":"+0100","short_name":"BST"},"what3words":{"words":"salsa.crab.clear"},"wikidata":"Q26657131"},"bounds":{"northeast":{"lat":51.5020851,"lng":-0.0699213},"southwest":{"lat":51.5019103,"lng":-0.0704101}},"components":{"ISO_3166-1_alpha-2":"GB","ISO_3166-1_alpha-3":"GBR","ISO_3166-2":["GB-ENG","GB-SWK"],"_category":"building","_normalized_city":"London","_type":"building","building":"Reeds
        Wharf","city":"London","city_district":"London Borough of Southwark","continent":"Europe","country":"United
        Kingdom","country_code":"gb","county":"London Borough of Southwark","county_code":"SWK","house_number":"33","neighbourhood":"Butler''s
        Wharf","postcode":"SE1 2AX","road":"Mill Street","state":"England","state_code":"ENG","state_district":"Greater
        London","suburb":"Bermondsey"},"confidence":10,"distance_from_q":{"meters":8},"formatted":"Reeds
        Wharf, 33 Mill Street, London, SE1 2AX, United Kingdom","geometry":{"lat":51.5019923,"lng":-0.0701166}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","mastodon":"https://en.osm.town/@opencage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Thu, 02 Oct 2025 22:30:27
        GMT","created_unix":1759444227},"total_results":1}'
  recorded_at: Thu, 02 Oct 2025 22:30:27 GMT
recorded_with: VCR 6.3.1
