---
http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?key=<API_KEY>&q=Donostia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '40059'
      X-Ratelimit-Reset:
      - '1759449600'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":50000,"remaining":40059,"reset":1759449600},"results":[{"annotations":{"DMS":{"lat":"43\u00b0
        19'' 20.71884'''' N","lng":"1\u00b0 59'' 2.00004'''' W"},"MGRS":"30TWN8238797121","Maidenhead":"IN93ah17wj","Mercator":{"x":-220845.502,"y":5331851.389},"NUTS":{"NUTS0":{"code":"ES"},"NUTS1":{"code":"ES2"},"NUTS2":{"code":"ES21"},"NUTS3":{"code":"ES212"}},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?relation=346465#map=16/43.32242/-1.98389","note_url":"https://www.openstreetmap.org/note/new#map=16/43.32242/-1.98389&layers=N","url":"https://www.openstreetmap.org/?mlat=43.32242&mlon=-1.98389#map=16/43.32242/-1.98389"},"UN_M49":{"regions":{"ES":"724","EUROPE":"150","SOUTHERN_EUROPE":"039","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":34,"currency":{"alternate_symbols":[],"decimal_mark":",","html_entity":"\u20ac","iso_code":"EUR","iso_numeric":"978","name":"Euro","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"\u20ac","symbol_first":0,"thousands_separator":"."},"flag":"\ud83c\uddea\ud83c\uddf8","geohash":"ezww6ye7khc0yfz5ncr7","qibla":108.72,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1759385280,"astronomical":1759379580,"civil":1759383540,"nautical":1759381560},"set":{"apparent":1759427160,"astronomical":1759432860,"civil":1759428840,"nautical":1759430820}},"timezone":{"name":"Europe/Madrid","now_in_dst":1,"offset_sec":7200,"offset_string":"+0200","short_name":"CEST"},"what3words":{"words":"orchids.wage.hints"},"wikidata":"Q10313"},"bounds":{"northeast":{"lat":43.3381594,"lng":-1.8878839},"southwest":{"lat":43.2178373,"lng":-2.0868082}},"components":{"ISO_3166-1_alpha-2":"ES","ISO_3166-1_alpha-3":"ESP","ISO_3166-2":["ES-PV","ES-SS"],"_category":"place","_normalized_city":"San
        Sebasti\u00e1n","_type":"city","city":"San Sebasti\u00e1n","continent":"Europe","country":"Spain","country_code":"es","political_union":"European
        Union","province":"Gipuzkoa","state":"Basque Country"},"confidence":6,"formatted":"San
        Sebasti\u00e1n, Basque Country, Spain","geometry":{"lat":43.3224219,"lng":-1.9838889}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","mastodon":"https://en.osm.town/@opencage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Thu, 02 Oct 2025 22:30:30
        GMT","created_unix":1759444230},"total_results":1}'
  recorded_at: Thu, 02 Oct 2025 22:30:30 GMT
recorded_with: VCR 6.3.1
