---
http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?key=<API_KEY>&q=M%C3%BCnster
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '40060'
      X-Ratelimit-Reset:
      - '1759449600'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":50000,"remaining":40060,"reset":1759449600},"results":[{"annotations":{"DMS":{"lat":"51\u00b0
        57'' 45.03636'''' N","lng":"7\u00b0 37'' 30.67644'''' E"},"MGRS":"32UMC0554157761","Maidenhead":"JO31tx51aa","Mercator":{"x":848832.034,"y":6759673.952},"NUTS":{"NUTS0":{"code":"DE"},"NUTS1":{"code":"DEA"},"NUTS2":{"code":"DEA3"},"NUTS3":{"code":"DEA33"}},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?relation=62591#map=17/51.96251/7.62519","note_url":"https://www.openstreetmap.org/note/new#map=17/51.96251/7.62519&layers=N","url":"https://www.openstreetmap.org/?mlat=51.96251&mlon=7.62519#map=17/51.96251/7.62519"},"UN_M49":{"regions":{"DE":"276","EUROPE":"150","WESTERN_EUROPE":"155","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":49,"currency":{"alternate_symbols":[],"decimal_mark":",","html_entity":"\u20ac","iso_code":"EUR","iso_numeric":"978","name":"Euro","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"\u20ac","symbol_first":0,"thousands_separator":"."},"flag":"\ud83c\udde9\ud83c\uddea","geohash":"u1jrte2rxcbnw2f0bxe5","qibla":128.55,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1759383180,"astronomical":1759376400,"civil":1759381200,"nautical":1759378860},"set":{"apparent":1759424580,"astronomical":1759431360,"civil":1759426620,"nautical":1759428960}},"timezone":{"name":"Europe/Berlin","now_in_dst":1,"offset_sec":7200,"offset_string":"+0200","short_name":"CEST"},"what3words":{"words":"wishes.cheer.stencil"},"wikidata":"Q2742"},"bounds":{"northeast":{"lat":52.0600251,"lng":7.7743634},"southwest":{"lat":51.8401448,"lng":7.4737853}},"components":{"ISO_3166-1_alpha-2":"DE","ISO_3166-1_alpha-3":"DEU","ISO_3166-2":["DE-NW"],"_category":"place","_normalized_city":"M\u00fcnster","_type":"city","city":"M\u00fcnster","continent":"Europe","country":"Germany","country_code":"de","political_union":"European
        Union","state":"North Rhine-Westphalia","state_code":"NW"},"confidence":4,"formatted":"M\u00fcnster,
        North Rhine-Westphalia, Germany","geometry":{"lat":51.9625101,"lng":7.6251879}},{"annotations":{"DMS":{"lat":"48\u00b0
        54'' 55.69884'''' N","lng":"6\u00b0 54'' 13.34772'''' E"},"MGRS":"32ULV4641720177","Maidenhead":"JN38kv89kr","Mercator":{"x":768517.226,"y":6228307.021},"NUTS":{"NUTS0":{"code":"FR"},"NUTS1":{"code":"FRF"},"NUTS2":{"code":"FRF3"},"NUTS3":{"code":"FRF33"}},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?relation=1952151#map=17/48.91547/6.90371","note_url":"https://www.openstreetmap.org/note/new#map=17/48.91547/6.90371&layers=N","url":"https://www.openstreetmap.org/?mlat=48.91547&mlon=6.90371#map=17/48.91547/6.90371"},"UN_M49":{"regions":{"EUROPE":"150","FR":"250","WESTERN_EUROPE":"155","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":33,"currency":{"alternate_symbols":[],"decimal_mark":",","html_entity":"\u20ac","iso_code":"EUR","iso_numeric":"978","name":"Euro","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"\u20ac","symbol_first":0,"thousands_separator":"."},"flag":"\ud83c\uddeb\ud83c\uddf7","geohash":"u0sym0g1k0cedjmc1ewd","qibla":124.59,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1759383240,"astronomical":1759376940,"civil":1759381380,"nautical":1759379160},"set":{"apparent":1759424880,"astronomical":1759431180,"civil":1759426740,"nautical":1759428960}},"timezone":{"name":"Europe/Paris","now_in_dst":1,"offset_sec":7200,"offset_string":"+0200","short_name":"CEST"},"what3words":{"words":"succeeded.astronomical.deceiver"},"wikidata":"Q21729"},"bounds":{"northeast":{"lat":48.9209128,"lng":6.9284105},"southwest":{"lat":48.8961288,"lng":6.8640003}},"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","ISO_3166-2":["FR-GES","FR-57"],"_category":"place","_normalized_city":"Munster","_type":"village","continent":"Europe","country":"France","country_code":"fr","county":"Moselle","local_authority":"Communaut\u00e9
        de communes du Saulnois","municipality":"Sarrebourg-Ch\u00e2teau-Salins","political_union":"European
        Union","postcode":"57670","region":"Metropolitan France","state":"Grand Est","state_code":"GES","village":"Munster"},"confidence":7,"formatted":"57670
        Munster, France","geometry":{"lat":48.9154719,"lng":6.9037077}},{"annotations":{"DMS":{"lat":"48\u00b0
        37'' 27.19884'''' N","lng":"10\u00b0 54'' 3.19788'''' E"},"MGRS":"32UPU4007587427","Maidenhead":"JN58ko89ct","Mercator":{"x":1213481.335,"y":6179258.309},"NUTS":{"NUTS0":{"code":"DE"},"NUTS1":{"code":"DE2"},"NUTS2":{"code":"DE27"},"NUTS3":{"code":"DE27D"}},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?relation=962251#map=17/48[...]
