---
http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?key=<OPEN_CAGE_API_KEY>&q=Mudgee,%20Australia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2476'
      X-Ratelimit-Reset:
      - '1553990400'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"CC-BY-SA","url":"https://creativecommons.org/licenses/by-sa/3.0/"},{"name":"ODbL","url":"https://opendatacommons.org/licenses/odbl/summary/"}],"rate":{"limit":2500,"remaining":2476,"reset":1553990400},"results":[{"annotations":{"DMS":{"lat":"32\u00b0
        35'' 53.05272'''' S","lng":"149\u00b0 35'' 19.09788'''' E"},"MGRS":"55HGD4294590311","Maidenhead":"QF47tj06pl","Mercator":{"x":16652131.044,"y":-3819057.258},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?relation=6059167#map=17/-32.59807/149.58864","url":"https://www.openstreetmap.org/?mlat=-32.59807&mlon=149.58864#map=17/-32.59807/149.58864"},"callingcode":61,"currency":{"alternate_symbols":["A$"],"decimal_mark":".","disambiguate_symbol":"A$","html_entity":"$","iso_code":"AUD","iso_numeric":36,"name":"Australian
        Dollar","smallest_denomination":5,"subunit":"Cent","subunit_to_unit":100,"symbol":"$","symbol_first":1,"thousands_separator":","},"flag":"\ud83c\udde6\ud83c\uddfa","geohash":"r64qecxn7zm0uv6bnz7m","qibla":278.96,"sun":{"rise":{"apparent":1553976780,"astronomical":1553971860,"civil":1553975340,"nautical":1553973600},"set":{"apparent":1553932920,"astronomical":1553937840,"civil":1553934420,"nautical":1553936100}},"timezone":{"name":"Australia/Sydney","now_in_dst":1,"offset_sec":39600,"offset_string":1100,"short_name":"AEDT"},"what3words":{"words":"fluffs.photocopier.cobbles"},"wikidata":"Q59819"},"bounds":{"northeast":{"lat":-32.5713535,"lng":149.6091869},"southwest":{"lat":-32.6539627,"lng":149.5470486}},"components":{"ISO_3166-1_alpha-2":"AU","ISO_3166-1_alpha-3":"AUS","_type":"village","continent":"Oceania","country":"Australia","country_code":"au","county":"Mid-Western
        Regional Council","hamlet":"Bombira","postcode":"2850","state":"New South
        Wales","state_code":"NSW","suburb":"Mudgee"},"confidence":7,"formatted":"Mudgee
        NSW 2850, Australia","geometry":{"lat":-32.5980702,"lng":149.5886383}},{"annotations":{"DMS":{"lat":"32\u00b0
        36'' 4.76640'''' S","lng":"149\u00b0 35'' 14.67492'''' E"},"MGRS":"55HGD4282189953","Maidenhead":"QF47tj05lq","Mercator":{"x":16651994.277,"y":-3819485.159},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?node=655363380#map=17/-32.60132/149.58741","url":"https://www.openstreetmap.org/?mlat=-32.60132&mlon=149.58741#map=17/-32.60132/149.58741"},"callingcode":61,"currency":{"alternate_symbols":["A$"],"decima[...]
