---
http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?key=<API_KEY>&q=EC1M%205RF
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '40061'
      X-Ratelimit-Reset:
      - '1759449600'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":50000,"remaining":40061,"reset":1759449600},"results":[{"annotations":{"DMS":{"lat":"51\u00b0
        31'' 21.64080'''' N","lng":"0\u00b0 6'' 9.08280'''' E"},"MGRS":"30UYC0100211931","Maidenhead":"IO91wm75qk","Mercator":{"x":-11412.808,"y":6680803.534},"NUTS":{"NUTS0":{"code":"UK"},"NUTS1":{"code":"UKI"},"NUTS2":{"code":"UKI4"}},"OSM":{"note_url":"https://www.openstreetmap.org/note/new#map=17/51.52268/-0.10252&layers=N","url":"https://www.openstreetmap.org/?mlat=51.52268&mlon=-0.10252#map=17/51.52268/-0.10252"},"UN_M49":{"regions":{"EUROPE":"150","GB":"826","NORTHERN_EUROPE":"154","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":44,"currency":{"alternate_symbols":[],"decimal_mark":".","html_entity":"&#x00A3;","iso_code":"GBP","iso_numeric":"826","name":"British
        Pound","smallest_denomination":1,"subunit":"Penny","subunit_to_unit":100,"symbol":"\u00a3","symbol_first":1,"thousands_separator":","},"flag":"\ud83c\uddec\ud83c\udde7","geohash":"gcpvjemm7533cgjyghpq","qibla":119.03,"roadinfo":{"drive_on":"left","speed_in":"mph"},"sun":{"rise":{"apparent":1759385040,"astronomical":1759378320,"civil":1759383060,"nautical":1759380720},"set":{"apparent":1759426440,"astronomical":1759433160,"civil":1759428480,"nautical":1759430760}},"timezone":{"name":"Europe/London","now_in_dst":1,"offset_sec":3600,"offset_string":"+0100","short_name":"BST"},"what3words":{"words":"grew.tens.club"}},"components":{"ISO_3166-1_alpha-2":"GB","ISO_3166-1_alpha-3":"GBR","ISO_3166-2":["GB-ENG","GB-ISL"],"_category":"postcode","_normalized_city":"London","_type":"postcode","city":"London","city_district":"London
        Borough of Islington","continent":"Europe","country":"United Kingdom","country_code":"gb","county":"Islington","postcode":"EC1M
        5RF","state":"England","state_code":"ENG","state_district":"Greater London","suburb":"Clerkenwell"},"confidence":10,"formatted":"London,
        EC1M 5RF, United Kingdom","geometry":{"lat":51.522678,"lng":-0.102523}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","mastodon":"https://en.osm.town/@opencage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Thu, 02 Oct 2025 22:30:29
        GMT","created_unix":1759444229},"total_results":1}'
  recorded_at: Thu, 02 Oct 2025 22:30:29 GMT
recorded_with: VCR 6.3.1
