---
http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?key=<API_KEY>&q=Mudgee,%20Australia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '40062'
      X-Ratelimit-Reset:
      - '1759449600'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":50000,"remaining":40062,"reset":1759449600},"results":[{"annotations":{"DMS":{"lat":"32\u00b0
        35'' 53.05272'''' S","lng":"149\u00b0 35'' 19.09788'''' E"},"MGRS":"55HGD4294590311","Maidenhead":"QF47tj06pl","Mercator":{"x":16652131.044,"y":-3819057.258},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?relation=6059167#map=17/-32.59807/149.58864","note_url":"https://www.openstreetmap.org/note/new#map=17/-32.59807/149.58864&layers=N","url":"https://www.openstreetmap.org/?mlat=-32.59807&mlon=149.58864#map=17/-32.59807/149.58864"},"UN_M49":{"regions":{"AU":"036","AUSTRALASIA":"053","OCEANIA":"009","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":61,"currency":{"alternate_symbols":["A$"],"decimal_mark":".","disambiguate_symbol":"A$","html_entity":"$","iso_code":"AUD","iso_numeric":"036","name":"Australian
        Dollar","smallest_denomination":5,"subunit":"Cent","subunit_to_unit":100,"symbol":"$","symbol_first":1,"thousands_separator":","},"flag":"\ud83c\udde6\ud83c\uddfa","geohash":"r64qecxn7zm0uv6bnz7m","qibla":278.96,"roadinfo":{"drive_on":"left","speed_in":"km/h"},"sun":{"rise":{"apparent":1759434000,"astronomical":1759429020,"civil":1759432500,"nautical":1759430760},"set":{"apparent":1759392180,"astronomical":1759397160,"civil":1759393680,"nautical":1759395420}},"timezone":{"name":"Australia/Sydney","now_in_dst":0,"offset_sec":36000,"offset_string":"+1000","short_name":"AEST"},"what3words":{"words":"fluffs.photocopier.cobbles"},"wikidata":"Q59819"},"bounds":{"northeast":{"lat":-32.5713535,"lng":149.6091869},"southwest":{"lat":-32.6539627,"lng":149.5470486}},"components":{"ISO_3166-1_alpha-2":"AU","ISO_3166-1_alpha-3":"AUS","ISO_3166-2":["AU-NSW"],"_category":"place","_normalized_city":"Mid-Western
        Regional Council","_type":"hamlet","continent":"Oceania","country":"Australia","country_code":"au","locality":"Mudgee","municipality":"Mid-Western
        Regional Council","postcode":"2850","state":"New South Wales","state_code":"NSW"},"confidence":7,"formatted":"Mudgee
        NSW 2850, Australia","geometry":{"lat":-32.5980702,"lng":149.5886383}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","mastodon":"https://en.osm.town/@opencage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Thu, 02 Oct 2025 22:30:28
        GMT","created_unix":1759444228},"total_results":1}'
  recorded_at: Thu, 02 Oct 2025 22:30:29 GMT
recorded_with: VCR 6.3.1
